#media-updates-div{
    width: 98%;
    height: 150px;
    margin: 10px;
    /* border: 1px solid black; */
}

#media-updates-text{
    text-align: center;
    padding:48px;
}

#div-videos{
    width: 98%;
    height: 940px;
    margin: 10px;
    /* border: 1px solid black; */
    margin-bottom: 20px;
}

.video-card {
    border: 1px solid red;
    width: 300px;
    float: left;
    display: flex;
  }
  .video-card img {
    max-height: 300px;
    object-fit: cover;
  }
  .video-description {
    height: 60px;
    overflow: hidden;
  }




#news-updates-div{
    width: 98%;
    height: 100px;
    margin: 10px;
    /* border: 1px solid rgb(34, 210, 28); */
}

#news-updates-text{
    text-align: center;
    padding:30px;
}

#div-News{
    width: 98%;
    height: 380px;
    margin: 10px;
    /* border: 1px solid black; */
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

#div-News2{
    width: 98%;
    height: 380px;
    margin: 10px;
    /* border: 1px solid rgb(78, 166, 51); */
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.radius{
    border-radius: 15px;
}

.radius-img{
    border-radius: 10px;
}