#media-updates-div{
    width: 98%;
    height: 150px;
    margin: 10px;
    /* border: 1px solid black; */
}

#media-updates-text{
    text-align: center;
    padding:48px;
}

#div-videos{
    width: 98%;
    height: 550px;
    margin: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
}

#news-updates-div{
    width: 98%;
    height: 100px;
    margin: 10px;
    /* border: 1px solid rgb(34, 210, 28); */
}

#news-updates-text{
    text-align: center;
    padding:30px;
}

#div-News{
    width: 98%;
    height: 380px;
    margin: 10px;
    /* border: 1px solid black; */
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.radius{
    border-radius: 15px;
}