#English{
    background-color: lightgrey;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.size-bar{
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 2px 3px rgb(250, 245, 245);
}

.hover-nav2{
    padding-left: 10px;
    padding-right: 10px;
}

.hover-nav2:hover{
    text-decoration: underline 2px solid rgb(50, 232, 50);
    background-color: whitesmoke;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid rgb(50, 232, 50);
    box-shadow: 1px;

}

.button-hover{
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;
}