.nav3{
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 120px;
    width: 98%;
    background-image: linear-gradient(to right, lightgray, lightblue);
}

.input-group{
    width: 250px;
    height: 40px;
    
}