#other-projects{
    height: 500px;
    width:98%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#trust-image1{
    width: 49%;
    height: 498px;
    float: left;
    border-radius: 90px 0px 0px 0px;
    margin-left: -20px;
}

#trust-text{
    width: 51%;
    height: 498px;
    float: right;
}

.text-project2{
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}


.text-project{
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#donation-record{
    width: 98%;
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}