@import url(navbar2-hover.css);
@import url(page1.css);
@import url(navbar3.css);

#SMIT-logo{
    margin-left: 10px;
    width: 200px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid gray;
}

#navbar1{
    margin-top: -5px;
    margin-bottom: -5px;
}
.text-mail{
    font-size: small;
}

.nav1{
    background-color: lightgray;
}